{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="form-box">
    <h2>Create Account</h2>

    {% if msg %}
        <p class="error">{{ msg }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        
        {{ form.as_p }}

        <button type="submit" class="btn">Register</button>
    </form>

    <p class="text-center">
        Already have an account?
        <a href="{% url 'login' %}">Login</a>
    </p>
</div>
{% endblock %}
